* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Neuton', 'Times New Roman', Times, serif;
    background-image: url(paper.png);
    background-color: rgb(213, 207, 223);
    overflow-x: hidden;
    color: #001021;
}
header {
    margin-top: 30px;
    color: #001021;
}
h1 {
    font-size: 50px;
    font-family: 'Playfair Display SC', serif;
}
h6 {
    font-size: 18px;
    color: #001021;
}
hr {
    width: 50%;
    margin: 30px auto 30px auto;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
}
.main-image {
    max-height: 300px;
    margin: 10px;
}
.main-image:hover {
    scale: 105%;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}
footer, nav {
    font-size: 20px;
    width: 100vw;
    height: 30px;
    background-color: rgb(134, 37, 37);
    color: rgb(213, 207, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>p {
    margin-left: 30px;
}
.para {
    font-size: 30px;
    margin-top: 30px;
}
.material-icons.md-60 { font-size: 60px; }
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(134, 37, 37);
}
.icon-container>i {
    margin: 0 30px 0 30px;
}